<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Mysql_IP_Address" value="127.0.0.1"/>
		<add key="Mysql_user_name" value="admin"/>
		<add key="Mysql_pass_word" value="admin123"/>
	    <add key="Mysql_database_name" value="heat pump"/>

		<add key="MSsql_IP_Address" value="127.0.0.1"/>
		<add key="MSsql_user_name" value="admin"/>
		<add key="MSsql_pass_word" value="admin123"/>
		<add key="MSsql_database_name" value="heat pump"/>
		<add key="MSsql_connectionstrings" value="packet size=4096;uid=TestEdayingSU;password=lefu@Edaying8888;data source=192.168.1.251;persist security info=False;initial catalog=Ailai.Phone;pooling=true;min pool size=5;max pool size=100;Connection Timeout=30;Encrypt=True;TrustServerCertificate=True"/>
	</appSettings>
</configuration>